body {
    background: #d1d8e0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: wrap row;
    color: #d1d8e0;
    font-family: Tahoma, Geneva, sans-serif;
}

.country-container {
    background-color: #4b6584;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-word;
    justify-content: center;
    margin: 2%;
    margin-top: 100px;
    transition-delay: 0.5s;
}

    .country-container:hover > .country-content-container {
        transition-delay: 0.5s;
        display: initial;
    }

.country-content-container {
    display: none;
}

.country-flag-container {
    width: 200px;
    height: auto;
    margin-left: 25px;
}

.country-flag {
    width: 100%;
    object-fit: contain;
    display: flex;
    float: right;
    padding: 25px;
}

.c-name {
    font-weight: 600;
    font-size: 24px;
    background-color: #d1d8e0;
    padding: 10px;
    width: 85%;
    border-radius: 5px;
    text-align: center;
    color: #4b6584;
}


.exchange-rate-container {
    font-weight: bold;
}

.exchange-rate {
    display: none;
}

.c-timezone {
}

.country-search {
    position: fixed;
    top: 10px;
    background-color: #d1d8e0;
    padding: 25px;
    text-align: center;
    width: 100%;
    opacity: 0.95;
}

.exchange-Rate {
    background-color: #ddd;
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
    color: #333;
    font-weight: bold;
}

.base-value {
    text-align: center;
    padding: 15px;
    margin: 10px;
    background-color: #ddd;
    transition: 0.3s;
    height: 40px;
}

    .base-value tr {
        display: none;
        width: 50px;
    }

    .base-value:hover tr {
        display: table;
    }

    .base-value button {
        background-color: #ddd;
        border: none;
        border-bottom: solid #333 1px;
        color: #333;
        cursor: pointer;
    }
