body {
    background: #1e272e;
    margin: 0;
    padding: 0;
    color: #d1d8e0;
    font-family: Tahoma, Geneva, sans-serif;
    display:grid;
    align-content:center;
}
/* main container defines the look of the page*/
.country-container {
    display: flex;
    flex-flow: wrap row;
    background-color: #485460;
    padding: 15px;
    width: 75%;
    border-radius: 5px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-word;
    justify-content: center;
    justify-self:center;
    margin-top: 100px;
    transition-delay: 0.5s;
}

.country-flag-container {
    width: 200px;
    height: auto;
    margin-left: 25px;
}

.country-flag {
    width: 100%;
    object-fit: contain;
    display: flex;
    float: right;
    padding: 25px;
    cursor: pointer;
}
.c-name {
    font-weight: 600;
    font-size: 24px;
    background-color: #d2dae2;
    padding: 10px;
    width: 85%;
    border-radius: 5px;
    text-align: center;
    color: #485460;
}



.exchange-rate-container {
    font-weight: bold;
}

.exchange-rate {
    display: inherit;
}

.c-timezone {
}

.country-search {
    position: fixed;
    top: 10px;
    background-color: #1e272e;
    padding: 25px;
    text-align: center;
    width: 100%;
    opacity: 0.95;
}
#country_name{
    opacity:1;
}

.exchange-Rate {
    background-color: #d2dae2;
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
    color: #1e272e;
    font-weight: bold;
}

.base-value {
    text-align: center;
    padding: 15px;
    margin: 10px;
    background-color: #d2dae2;
    transition: 0.3s;
    height: 40px;
}

    .base-value tr {
        display: none;
        width: 50px;
    }

    .base-value:hover tr {
        display: table;
    }

    .base-value button {
        background-color: #d2dae2;
        border: none;
        border-bottom: solid #1e272e 1px;
        color: #1e272e;
        cursor: pointer;
    }
/*flag container for flag cards holds the flag as background do not chang background!*/
.base-flag {
    background-size: cover;
    margin: 10px;
    height: 250px;
    width: 450px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-word;
    text-align: center;
    border-radius: 5px;
    transition: 0.3s;
}
    .base-flag:hover {
        width: 446px;
        height: 244px;
        border: solid;
    }
        .base-flag:hover > .base-name {
            color: #1e272e;
        }
/*the layover container for flag cards*/
.base-custom {
}
/*header for the flag cards*/
.base-name {
    transition:0.3s;
}
/*the region name on the flag cards*/
.base-region {
}


@media only screen and (max-width:600px){
    .country-container {
        display: flex;
        flex-flow: wrap row;
        background-color: #485460;
        padding: 15px;
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
        word-wrap: break-word;
        word-break: break-word;
        justify-content: center;
        justify-self: center;
        margin-top: 100px;
        transition-delay: 0.5s;
    }
}